@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
  }

  .feauters {
    justify-content: space-between;
  }

  .features-list {
    list-style: none;
    width: calc(((100% - 72px) / 4));
  }

  .features-card {
    display: flex;
  }

  .section-what-we-do {
    display: block;
  }

  .customers-list {
    flex-wrap: nowrap;
  }

  .customers-item {
    flex-basis: calc(100% / 6 - 24px);
  }

  .customers-item:last-child {
    margin-right: 0;
  }

  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
  }

  .container-hero {
    max-width: 496px;
  }
}
