@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
  }

  .feauters {
    justify-content: space-between;
  }

  .features-list {
    list-style: none;
    width: calc(((100% - 72px) / 4));
  }

  .features-card {
    display: flex;
  }
}
