@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
  }

  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .menu-open {
    display: none;
  }

  .contacts {
    gap: 40px;
  }

  .section-customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .feauters {
    justify-content: space-between;
  }

  .features-list {
    list-style: none;
    width: calc(((100% - 72px) / 4));
  }

  .features-card {
    display: flex;
  }

  .features-item {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.1;
    text-align: left;
  }

  .subtitle {
    font-weight: 400;
  }

  .section-what-we-do {
    display: block;
  }

  .customers-list {
    flex-wrap: nowrap;
  }

  .customers-item {
    flex-basis: calc(100% / 6 - 24px);
  }

  .customers-item:last-child {
    margin-right: 0;
  }

  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
  }

  .container-hero {
    max-width: 496px;
  }
}
