@media screen and (min-width: 768px) {
  .container {
    max-width: 766px;
  }

  .container-our-team {
    max-width: 582px;
  }

  .container-customers {
    max-width: 582px;
  }

  .features-list {
    width: calc(50% - 12px);
  }

  .features {
    row-gap: 72px;
    column-gap: 24px;
  }

  .features-item {
    text-align: left;
  }

  .section-what-we-do {
    display: none;
  }
  .our-team {
    row-gap: 72px;
    column-gap: 24px;
  }

  .customers-list {
    justify-content: space-between;
    row-gap: 72px;
  }

  .customers-item {
    width: 168px;
    height: 88px;
    flex-basis: calc(100% / 3 - 24px);
  }

  .hero {
    background-image: var(--linear-gradient), url(../images/bg-tablet.jpeg);
    padding-top: 188px;
    padding-bottom: 188px;
    padding-left: 32px;
    padding-right: 32px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: var(--linear-gradient), url(../images/bg-tablet-2x.jpeg);
    }
  }

  .container-hero {
    max-width: 496px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
  }

  /* menu */

  .logo {
    margin-right: 120px;
  }

  .menu-open {
    display: none;
  }

  .menu-list {
    display: flex;
    gap: 40px;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .menu-link:not(:last-child) {
    gap: 40px;
  }

  .menu-link:hover,
  .menu-link:focus {
    color: var(--accent-color);
  }

  .underline::after {
    display: block;
    position: absolute;
    content: '';
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    pointer-events: none;
  }

  .menu-link {
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--link-color);
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
  }

  .nav {
    display: flex;
    margin-right: auto;
  }

  .contacts {
    display: flex;
    gap: 6px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.04em;
    color: var(--text-color);
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: 0;
    flex-wrap: wrap;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
  }

  .contacts:is(:hover, :focus) {
    color: var(--accent-color);
  }

  /*footer*/

  .footer-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    row-gap: 72px;
    column-gap: 24px;
    max-width: 582px;
    flex-basis: calc(100% / 2 - 24px);
  }

  .footer-container {
    display: flex;
    gap: 16px;
    align-content: center;
    align-items: flex-start;
  }

  .footer-social-icons {
    width: 208px;
    align-items: flex-start;
  }

  .subscribe {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    max-width: 453px;
    margin-left: 0;
    margin-right: auto;
    gap: 16px;
  }

  .subcribe-input {
    height: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 24px;
  }

  .subscribe-field {
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    min-width: 264px;
    height: 40px;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    align-items: center;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
    background: #2e2f42;
    padding-left: 16px;
  }
}
